.hero{
    display:flex;
    height:100vh;
    background: linear-gradient(180deg,#fde1ff,#e1ffea22 60%);
    justify-content: space-around;
    gap:21px;
}
.hero_left{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:22px;
    line-height: 1.1;
    
    padding-left: 180px;
}
.hero_left h2{
    font-size: 26px;
    color: #090909;
    font-weight: 600;
}
.hero_left p{
    color: #171717;
    font-weight: 700;  
    font-size: 45px;
}
.hero_hand_icon{
    display:flex;
    gap:21px;
    align-items: center;
}
.hero_hand_icon img{
    width:105px;
}
.hero_latest_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:15px;
    height: 70px;
    border-radius: 75px;
    background-color:crimson;
    color:white;
    width:310px;
    font-weight: 500;
    margin-top: 30px;
    font-size: 22px;
    padding:12px;

}
.hero_right{
    display: flex;
    flex:1;
    margin-top: 143px;
    justify-content: center;
    align-items: center;

}